<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Threadly"
        tools:targetApi="31">
        <activity
            android:name="Foro.Foro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--aqui declaramos el resto de activities para poder navegar-->
        <activity android:name="Login.LoginUserExiste" />
        <activity android:name="Login.LoginUserNoExiste" />
        <activity android:name="PantallaInicio.DatosPersonales" />
        <activity android:name="PantallaInicio.ModificarDatos" />
        <activity android:name="StockPersonal.StockPersonal" />
        <activity android:name="CatalogoHilos.CatalogoHilos" />
        <activity android:name="CatalogoHilos.AgregarHilo" />
        <activity android:name="CatalogoHilos.ModificarHilo" />
        <activity android:name="CatalogoHilos.ModificarHiloFinal" />
        <activity android:name="Toolbar.Toolbar" />
        <!--        <activity android:name="Foro.Foro" />-->
        <activity android:name="Foro.CrearTema" />
        <activity android:name="Foro.ResponderTema" />
        <activity android:name="Foro.VisualizarTema" />

    </application>

</manifest>